@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Open+Sans&display=swap');

.post {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.post-contents{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: left;
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
}

select {
    font-family: 'Josefin Sans', sans-serif;
}

label {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.state-zip {
    margin-top: 1.5em;
    display: flex;
    justify-content: stretch;
    
}

.state-zip .zip {
   margin-left: 20px;
}

.checkbox input{
    margin-top: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ACACAC;
}

input[type=text]:focus, textarea:focus {
    outline: 3px solid #ACACAC;
}


.post-contents .error-field {
    /* border: 3px solid #FFB3B3; */
}

.error {
    /* width: fit-content;
    background: #FFB3B3;
    padding: .3em .5em;
    font-size: .85em;
    font-weight: bold;
    margin-top: -.1em; */
}

select {
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
background-repeat: no-repeat;
background-size:16px 17px;
background-position: right;
background-origin: content-box;
}

.cta {
    display: block;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 255, 0.35);
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.cta:hover {
    background-color: blue;
    transition:all 0.3s ease;

  }


    
    
