.space-holder {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.space-wrapper {
    display: flex;
    flex-direction: row;
   align-items: center;
  
}
.space-info {
    display: flex;
    flex-direction: column;
}

